@font-face {
	font-family: misaki;
	src: url('../node_modules/misaki-font/misaki_gothic.ttf') format('woff');
}

body {
	font-family: misaki;
	background-image: url(https://farm4.staticflickr.com/3671/11285730373_f3e33590b1_k.jpg);
	background-attachment: fixed;
	background-size: cover;
}
