.loading {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	background: rgba(0, 0, 0, 0.9);
	color: white;
	text-align: center;
	
	z-index: 1;
}

.inner {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.icon {
	margin-bottom: 32px;
	max-width: 30vmin;
}

.title {
	font-size: 8vmin;
	white-space: pre;
	margin-bottom: 10px;
}

.artist {
	font-size: 3vmin;
}

.progress {
	width: 300px;
}
