.track {
	display: inline-block;
	vertical-align: top;
	margin: 3px;
}

.video-area {
	width: 320px;
	height: 180px;

	color: white;

	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	font-size: 48px;
	font-weight: bold;
}
