.controls {
	padding: 3px;
	display: flex;
	align-items: center;
	font-size: 20px;
}

.mute {
	color: #333;
	cursor: pointer;
}

.volume {
	display: flex;
}

.volume-back {
	fill: #555;
}

.volume-color {
	fill: #2196F3;
}

.volume-pinch {
	fill: white;
	cursor: pointer;
}

.solo {
	background: #999;
	color: white;
	font-weight: bold;
	font-size: 14px;
	margin-left: 0.3em;
	cursor: pointer;
	padding: 0 0.3em;
	border-radius: 9999px;

	&.active {
		color: white;
		background: #F44336;
	}
}
